<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "blogelator/admin", media: "all" %>
  <%= javascript_include_tag "blogelator/admin" %>
  <%= csrf_meta_tags %>
</head>
<body class="blogelator <%= @body_class || 'default' %>">

<%= yield %>

</body>
</html>
