<!DOCTYPE html>
<html>

<%= render partial: "layouts/blogelator/head" %>

<body class="<%= body_class %>">
  <%= render partial: "layouts/blogelator/header" %>
  <main>
    <%= yield %>
  </main>
  <%= render partial: "layouts/blogelator/footer" %>
</body>

</html>
