<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "blogelator/application", media: "all" %>
  <%= javascript_include_tag "blogelator/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

<%= render partial: "layouts/blogelator/header" %>

<main>
<%= yield %>
</main>
</body>
</html>
