<section class="posts-list">
  {{#each controllers.posts as |post|}}
    {{#link-to "posts.show" post class="post" tagName="div"}}
      <h2>{{post.title}}</h2>
      <div class="date">
        {{post.publishedAtFormatted}}
      </div>
      <div class="summary">
        {{{post.summary}}}
      </div>
    {{/link-to}}
  {{/each}}
</section>
<article class="post">
  <h1>{{title}}</h1>
  <div class="date">
    {{publishedAtFormatted}}
  </div>
  <div class="body">
    {{{bodyHtml}}}
  </div>
</article>
