<% cache [Blogelator::VERSION, @post, "show"] do %>
  <div class="post <%= @post.status %>">
    <div class="post-image">
      <%= image_tag @post.image.url(:large) %>
    </div>

    <div class="post-content">
      <h1>
        <%= link_to @post.title, @post, class: "title" %>
      </h1>

      <%= local_time(@post.published_at, format: "%B %e, %Y", class: "published-at") %>

      <div class="tags">
        <%= render @post.tags %>
      </div>

      <div class="body">
        <%== @post.body_html %>
      </div>

      <%= render @post.author if @post.author %>
    </div>
  </div>

  <% content_for :head do %>
    <% render "meta" %>
  <% end %>
<% end %>
